<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="https://i.postimg.cc/1zHQQdGK/favicon.png" >
    <title>Typee</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <header class= "text-gray body-font" >
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
          <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
            <img src="https://i.postimg.cc/qBD7PNw5/Screenshot-2023-02-17-at-10-18-45-PM.png"  width="250" height="100">
          
          </a>
          <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400	flex flex-wrap items-center text-base justify-center">
           <bold>   <a href="index.html" class="mr-5 text-white" style="font-family: myFont;">{Home}</a> </bold>
          <bold>   <a href="about.html" class="mr-5 text-white" style="font-family: myFont;">{About}</a></bold>
             
          </nav>
               
          </nav>
          
          </button>
        </div>
      </header>
</head>
<body style="background-color:#2f455c " >  
  <div class="heading" >
<h1>About Us:</h1>
  </div>
<br>
<center>
<div class="para" style="font-family: myFont; color:darkgray ; font-size:large;">
<p>
  Most people know their words per minute (WPM) typing speed, but few know their typing accuracy. Typee is a new website that not only measures your WPM, but also your typing accuracy. This is important because many jobs now require a certain level of typing accuracy, and Typee can help you ensure that you meet the industry standard. 
Typee is a great tool for those who want to improve their typing speed and accuracy. The website provides valuable feedback that can help you make the necessary adjustments to improve your typing. In addition, Typee is also a great way to measure your progress over time. If you are looking for a way to improve your typing speed and accuracy. <br>
<br>
Typee is a great choice for beginners and experienced typists alike. Its user-friendly design makes it easy to navigate, enabling users of all levels to get the most out of their typing practice. With detailed statistics on speed, accuracy and other metrics, Typee can help you set realistic goals and monitor your progress more effectively.All in all, if you're interested in boosting your typing speed and accuracy then Typee is the perfect tool for you!
</center>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>



   
  <footer class="text-white body-font">
    <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
     
      <p class="text-sm text-white sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">© 2023 TYPEE —
        <a href="https://www.twitter.com/aayush_2608/" class="text-grey-400 ml-1" rel="noopener noreferrer" target="_blank" style="font-family: myFont;">{Aayush Chaudhary}</a>
        <a href="https://www.instagram.com/jain_akshatt/" class="text-grey-400 ml-1" rel="noopener noreferrer" target="_blank tyle=" style="font-family: myFont;" >{Akshat Jain}</a>
      </p>
      <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
        <a class="text-white">
       
        </a>
        <a class="ml-3 text-white">
          
      </span>
    </div>
  </footer>
</body>
</html>